* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: white;
    padding: 20px 50px 20px;
    margin-bottom: 5px;
}

header img {
    vertical-align: middle;
}

header div {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    font-weight: 700;
}

.container {
    
    height: 800px;
}

.menu {
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 10px 40px;
    margin-bottom: 5px;
}


.button {
    border-radius: 5px;
    padding: 4px;
}

.select {
    background-color: #47ADF1;
    color: white;
}

.unselect {
    background-color: white;
    color: lightgray;
}

.spunta {
    border: 1px solid;
    border-radius: 50%;
    padding: 0px 3px;
}

.rossa {
    color: red;
}

.verde {
    color: green;
}
section>div {
    margin-bottom: 20px;
}

div>div {
    padding: 7px;
}

.update {
    border-radius: 17px;
    padding: 6px;
}

.editoria {
    background-color: #45ABEA;
}

.q1goals {
    background-color: #9C72E4;
}

.recluting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}
